html,
body {
  height: 100vh;
  overflow-x: hidden;
  min-width: 320px;
}
body {
  display: flex;
  flex-direction: column;
  text-rendering: optimizeSpeed;
  //background-color: #E5E5E5;
  font-size: 16px;
  line-height: 1.5;
  color: $default-color;
  margin: 0 auto;
  @extend %roboto-400;
}
.main {
  flex-grow: 1;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  @extend %roboto-700;
  line-height: 1.2;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: $text-color;
}


button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btn {
  background-color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 6px;
  color: #fff;
}



.border {
  background-color: #fff;
  border: 1px solid $bg-col;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.6s;
  &:hover {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.3);
  }

}
.border-btn {
  background-color: #fff;
  border: 1px solid $bg-col;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.6s;
  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  }
  &:focus {
    outline-color: $default-color;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  max-width: 1440px;
}
.container-fluid {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1070px) {
  .container {
    padding: 0 10px;
  }
}

@media (max-width: 740px) {
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 22px;
  }
}